PORT=4000
# dev/prod/test
NODE_ENV=dev

DATABASE_URL=postgres://user:password@localhost:5432/db_name

SALT_ROUND=10
DEFAULT_USER_PASSWORD=

JWT_SECRET=

YOUR_IP=localhost

# Logger
LOG_LEVEL=info          # debug, info, warn, error
LOG_FILE_ENABLED=true   # true/false
LOG_MAX_SIZE=5242880    # 5MB
LOG_MAX_FILES=5


# Supabase (en développement et production) pour test -> fichier public à la racine
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=

# Redis (uniquement en production)
REDIS_URL=