PORT=
# 'prod' ou 'dev'
NODE_ENV= 

DATABASE_URL=

SALT_ROUND=

JWT_SECRET=

YOUR_IP=

# Logger
LOG_LEVEL=info          # debug, info, warn, error
LOG_FILE_ENABLED=true   # true/false
LOG_MAX_SIZE=5242880    # 5MB
LOG_MAX_FILES=5


# Supabase (uniquement en production)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Redis (uniquement en production)
REDIS_URL=